!!!
%html
	%head
		%title TEST
		%meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
		= stylesheet_link_tag 'application'
	%body
		.container
			= partial 'layouts/navbar'
			= partial 'layouts/header'

			#wrapper
				.row
					.bg-layer
						= [:success, :info, :warning, :danger].map { |type| flash_tag(type, :class => "alert alert-#{type} fade in", :bootstrap => true) }.join.html_safe
						= yield

		/ %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" }
		= javascript_include_tag 'jquery'
		= javascript_include_tag 'bootstrap.min'
		= javascript_include_tag 'application'
		= yield_content :js